* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}
h1 {
  padding-top: 12px;
  font-size: 24px;
  color: #fff;
}
.card {
  display: inline-flex;
  padding: 32px 48px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 18px;
  background: linear-gradient(148deg, #905ad4 -0.02%, #3330a5 98.99%);
  box-shadow: 4px 4px 12.5px 0px rgba(0, 0, 0, 0.83);
}
.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.temp {
  color: #fff;
  font-family: Inter;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.city {
  margin: 10px 19.5px 10px 20.5px;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.body3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}
.input-city {
  width: 315px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 29px;
  background: #f7f7f7;
  border: none;
  color: #7d7d7d;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 29px;
}
svg {
  cursor: pointer;
}
.b31 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 140px;
  height: 52px;
}
.b311 {
  display: flex;
  flex-direction: column;
  width: 69px;
  height: 52px;
  flex-shrink: 0;
}
h2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h3 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
